<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- <bean id="springDSN" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" 
		/> <property name="url" value="jdbc:oracle:thin:@172.31.91.140:1521:xe" /> 
		<property name="username" value="tieta" /> <property name="password" value="123456" 
		/> </bean> -->
	<!--<bean id="springDSN" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="username" value="chunlei" />
		<property name="password" value="1234" />
	</bean>-->
	<!--<bean id="springDSN" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/zhang?characterEncoding=utf-8&amp;serverTimezone=UTC" />
		<property name="username" value="zhi" />
		<property name="password" value="1234" />
	</bean>-->
		<bean id="springDSN" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/chunlei?characterEncoding=utf-8&amp;serverTimezone=UTC" />
		<property name="username" value="zhi" />
		<property name="password" value="1234" />
	</bean>
	<!--<bean id="springDSN" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://113.125.118.93:3306/fenguangqi?characterEncoding=utf-8&amp;serverTimezone=UTC" />
		<property name="username" value="root" />
		<property name="password" value="1qaz@WSX" />
	</bean>-->
	<!--15315311833189.cn zhijunhua2012@,root  zhijunhua2012@-->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		abstract="false" lazy-init="false" autowire="default">
		<property name="dataSource">
			<ref bean="springDSN" />
		</property>
	</bean>

	<bean id="dac" 
	
	class="dac.Dac"
		factory-method="getInstance">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>	
		<property name="transactionTemplate">
			<ref bean="transactionTemplate" />
		</property>		
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		scope="singleton">
		<property name="dataSource">
			<ref bean="springDSN" />
		</property>
	</bean>
	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
	</bean>
</beans>
